*{
    color: black;
}
/*
body{
    margin: 2.5% 2.5% 2.5% 2.5%;
}
*/
/* form / sec 3*/

#logo-img{
    margin: 0%;
    width: 10%;
}


img{
    margin: 2.5% 2.5% 2.5% 2.5%;
}

form{
    
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.form-text{
margin-right: 19%;
}


#but{
    margin-bottom: 5%;
}

/* form / sec 3 ends*/

#jumbo{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/easy-pescatarian-recipes-1557518379.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*"); 
}

/* forum*/

.jum-1{
    text-align: center;
    margin-bottom: 10%;
    color: white;
}

.space-1{
    margin-left: 5%;
}


.space-1-1{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.jum-2{
    margin-top: 2.5%;
    margin-bottom: 10%;
    margin-left: 10%;
}


.jum-3{
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

.b1-1{
    margin-top: 2%;
}


#margin-from-top{
    margin-bottom: 25%;
}

.submit-button{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: white;
}


form {
    text-align: center;
    
}
/* forum ends */

img {
    width: 100%;

}



.space-3{
    margin-top: 5%;
}

.space-4{
    margin-bottom: 5%;
}
